#skill-graph-control-container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

#skill-graph-container {
  min-width: 0;
  display: flex;
  height: max(40vh, 300px);
  justify-content: space-around;
}

.skill-graph-dropdown > select {
  padding: 8px;
}

#skill-graph-canvas {
  box-sizing: border-box;
  background: rgb(255 255 255 / 5%);
}
