*~
\#*#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.#*
*.html
public/*
dist/*

# Assets we need to have in source folder for in-Javascript imports, but shouldn't be linted since they are data 
src/assets/*