.canvas-map {
  display: block;
  touch-action: none;
  cursor: grab;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

#background-worldmap.interactable {
  filter: none !important;
}

#background-worldmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  filter: opacity(0.8);
  transition: filter 0.5s;
}

.dark-mode #background-worldmap {
  filter: opacity(0.15);
}

.canvas-map .dragging {
  cursor: grabbing;
}

.canvas-map__coordinates {
  position: fixed;
  bottom: 0;
  left: 8px;
}

.canvas-map .interactive {
  filter: none !important;
}

.canvas-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  transition: filter 0.5s;
}

.canvas-map-plane-select-container {
  position: absolute;
  top: 0;
  margin: 0.4em;
}

.canvas-map-plane-select {
  padding: 0.4em;
}
