.player-diaries {
  display: block;
  max-height: 300px;
  width: 100%;
  padding: 4px;
  overflow-y: scroll;
}

.player-diaries-title {
  margin: 0;
  text-align: center;
  color: var(--orange);
}

.player-diaries-completions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.diary-completion {
  display: block;
  color: yellow;
  padding: 4px;
}

.diary-completion.clickable:hover {
  background: rgb(0 0 0 / 15%);
  cursor: pointer;
}

.diary-completion-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary-completion-bottom {
  display: flex;
}

.diary-completion-bottom .stat-bar {
  height: 8px;
  flex-grow: 1;
  border: 1px solid black;
}

.diary-completion-bottom .stat-bar + .stat-bar {
  border-left: none;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px;
  max-height: 90vh;
  width: 800px;
  min-width: 70vh;
  cursor: auto;
}

.diary-dialog-scroll-container {
  overflow-y: scroll;
}

.diary-dialog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diary-dialog-section > div {
  width: 0;
  min-width: 100%;
}

.diary-dialog-task-complete,
.diary-dialog-requirement-met {
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
  color: rgb(255 255 255 / 60%) !important;
}

.diary-dialog-task {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
  justify-content: center;
}

.diary-dialog-task:hover {
  background: rgb(0 0 0 / 15%);
}

.diary-dialog-header {
  display: flex;
  text-align: center;
  padding: 8px;
  background: rgb(255 255 255 / 5%);
}

.diary-dialog-header h3 {
  color: var(--orange);
  font-size: 2em;
  margin: 0;
}

.diary-dialog-header h4 {
  font-size: 1.5em;
}

.diary-dialog-title {
  text-decoration: underline;
}

.diary-dialog-title a:hover {
  filter: brightness(1.3);
}

.diary-dialog-header > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dialog-close > img {
  position: absolute;
  transform: translate(-60px, -20px);
  width: 42px;
  height: 42px;
  image-rendering: pixelated;
}

.dialog-close:hover {
  filter: brightness(1.3);
}

.diary-dialog-tier-complete,
.diary-dialog-diary-complete .diary-dialog-header {
  background: rgb(0 200 0 / 10%);
}

.diary-dialog-section h4 {
  color: var(--orange);
  text-decoration: underline;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.diary-dialog-section a:hover {
  filter: brightness(1.3);
}

.diary-dialog-tier-complete h4,
.diary-dialog-diary-complete .diary-dialog-header h4 {
  color: rgb(0 200 0);
}

.diary-dialog-skill-icon {
  padding-left: 5px;
  display: flex;
  height: 1em;
}

.diary-dialog-skill-icon > img {
  height: 1em;
  width: 1em;
  object-fit: scale-down;
}

.diary-dialog-task-complete img {
  opacity: 0.5;
}

.diary-dialog-skill-complete {
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
  color: rgb(255 255 255 / 60%);
}
