ul.social-links {
  list-style-type: none;
}

ul.social-links > li {
  display: flex;
}

ul.social-links > li > a > div {
  display: flex;
  width: 35px;
  align-content: center;
  justify-content: center;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.social-links a {
  display: flex;
  align-items: center;
}
